.about {
    padding-bottom: 48px;
}

.about-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.about-image {
    height: 40vh;
    border-radius: 50%;
    border:2px dashed rgba(161, 52, 106);
    
}

.about-info {
    font-size: 24px;

}


.info-name {
    color: rgb(0, 0, 0);
    font-size: 32px;
}
.about-prename {
    margin-top: 6em;
    color: rgb(119, 119, 119);
    font-size: 32px;
}

.about-greeting {
    font-family: 'Dosis', sans-serif;
    font-size: 128px;
    font-weight: 600;
    color: rgb(161, 52, 106);
}

  


@media only screen and (max-width:720px) {
    .about-top {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .about-image {
        height: 30vh;
        
    }

    .about-info {
        font-size: 20px;
    }

    .info-name {
        font-size: 26px;
    }



}