.separator {
    background-image: linear-gradient(to right, #000000, #221217, #3d1a27, #592239, #772a4d, #8b4066, #9f5681, #b36c9c, #c092bc, #cfb7d7, #e3dced, #ffffff);
    
    height: 6px;
    width: 45%;
    border-radius: 3px;
    margin: 16px 0px;
    }