.education-card {
    padding: 8px;
    margin-top: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
    flex: 1;
}


.education-logo {
    height: 80px;
}

.education-info {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.education-dates  {
    color: gray;
}


@media only screen and (max-width:720px) {
    .education-card {
        width: 100%;
        align-items: flex-start;
        flex-direction: column;
    }
}